
@media screen and (max-width: 1200px){
    #desktop-nav{
        display: none;
    }
    #hamburger-nav{
        display: flex;
    }
    
    .section__pic-container {
    margin-left: -7.60rem;
    margin-right:auto;
    }

  .text-container {
    margin-left: 23rem;
    margin-right: 5rem;
  }
  .sites-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -30px; /* Ajuste o valor conforme necessário */
  }

  .sites-container a {
    display: inline-block;
    margin: 0 15px; /* Ajuste o valor conforme necessário */
  }

}

@media screen and (max-width: 600px){
    #desktop-nav{
        display: none;
    }
    #hamburger-nav{
        display: flex;
    }
  .text-container {
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 15px;
  }
   .hero_title {
    font-size: 2.5rem; /* Adjust the value as needed */
  }

  .hero_desc {
    font-size: 1.5rem; /* Adjust the value as needed */
  }
  footer{
    height: 8vh;
  }
  #about{
    margin-top: 500px;
  }
  #projects{
    margin-top: -20px;
  }
  #contact{
    margin-top: 150px;
  }
}



