/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85)
}

/* TRANSITION */

a, .btn{
  transition: all 300ms ease;
}

/* DESKTOP NAV */

nav, .nav-links{
  display: flex;
}

nav{
  justify-content: space-around;
  align-content: center;
  height: 17vh;
}

.nav-links{
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color:white;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover{
  color:gray;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

.logo{
  font-size: 2rem;
  color: white;
}

.logo:hover{
  cursor: default;
}


/* HAMBURGER MENU */

#hamburger-nav{
  display: none;
}

.hamburger-menu{
  position: relative;
  display: inline-block;
}

.hamburger-icon{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span{
  width: 100%;
  height: 2px;
  background-color: white;
  transition: all 0.3 ease-in-out;
}

.menu-links{
  position: absolute;
  top: 100%;
  right: 0%;
  background-color: black;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li{
  list-style: none;
}

.menu-links.open{
  max-height: 300px;
}

.hamburger-icon.open span:first-child{
  transform: rotate(45deg) translate(10px,5px);
}
.hamburger-icon.open span:nth-child(2){
  opacity: 0;
}
.hamburger-icon.open span:last-child{
  transform: rotate(-45deg) translate(10px,-5px);
}

.hamburger-icon span:first-child{
  transform: none;
}
.hamburger-icon span:first-child{
  opacity: 1;
}
.hamburger-icon span:first-child{
  transform: none;
}

/* hero background image */
body {
    height:100vh;
    background: url('./images/tree.jpg');
    background-size:cover;
    background-position: top;
    background-repeat: no-repeat;
    position:relative;
}
/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
    color: white;
}
.hero_desc {
    font-size: 2rem;
    color:white;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/* ABOUT */

#about{
  position: relative;
  margin-top: 1100px;
}

.about-containers{
  gap:2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container{
  justify-content: center;
  flex-direction: column;
}

.about-containers, .about-details-container{
  display: flex;
}

.about-pic{
  margin-top: 50px;
  border-radius: 2rem;
  height: 300px;
  width: 300px;
  margin-left: 10rem;
}

.section-container{
  gap: 4rem;
  height: 80%;
}

.section__pic-container{
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.section__text__p1{
  text-align: center;
}

.title{
  text-align: center;
}

.text-container{
  margin-top: -250px;
  margin-left: 30rem;
}
.text-container p{
  margin-bottom: 30px;
}


.sites-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -120px;
}

.sites-container a {
  display: inline-block;
  margin-right: 100px;
  margin-left: 100px;
}

.sites-container img {
  width: 40px; /* Adjust the width as needed */
  height: 40px; /* Adjust the height as needed, you can use the same value for square icons */
  transition: filter 0.3s ease; /* Add a transition effect for color change */
}

.sites-container a:hover img {
  filter: brightness(50%); /* Adjust the brightness as needed to change the color */
}

/* Adicione a classe sticky-nav ao seu elemento nav */
.sticky-nav {
  position: sticky;
  max-height: 40px;
  top: 0;
  background-color: #333; /* Defina a cor de fundo para a barra */
  padding: 10px 0; /* Ajuste o espaçamento interno conforme desejado */
  z-index: 100; /* Certifique-se de que o z-index seja maior do que os outros elementos para que fique sobreposto */
}

/* Estilos para os links do menu */
.nav-links a {
  color: white; /* Defina a cor do texto para os links do menu */
}

.nav-links a:hover {
  color: gray; /* Defina a cor do texto para os links do menu quando o mouse passar por cima */
}

